:root {
  --primary-color: #0463ca;
  --info-color: #c4c4c4;
  --muted-color: #e5e5e5;
  --border-color: #e6e6e6;
  --green-color: #206d1e;
  --red-color: #e63900;
  --black-color: #000000;
  --white-color: #ffffff;
  --label-color: #3a99f8;
  --yellow-color: #faad14;
}
